:root{
/* CSS HEX */
--dark-gravel: #3d3a41;
--pumice: #d2dad5;
--santas-gray: #a4a3a8;
--mountain-mist: #97969c;
--jumbo: #7e7d87;
--salt-box: #67616d;
--gravel: #49464d;
--olive-green: #a6b54f;
--asparagus: #858e54;
--finch: #545841;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--dark-gravel);
    padding: 2em;
    flex-wrap: nowrap;
}

footer>section:first-of-type{
    display: flex;
    align-items: center;
    margin: 0;
}

footer>section>img{
    width: 70px;
    margin: 0 auto;
}

footer>section h4{
    font-family: 'Moonrising', 'Century Gothic', sans-serif;
    color: var(--olive-green);
    letter-spacing: 0.2em;
    font-size: 0.9rem;
}

footer>section{
    margin: 0 2%;
    width: 25%;
}

footer>section>ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

footer>section>ul>li{
    text-decoration: none;
    color: var(--pumice);
    margin: 0.4em 0;
}

footer>section>ul>li>a{
    color: var(--pumice);
    text-decoration: none;
}