body {
    min-height: 100vh;
    box-sizing: border-box;
}
#contenedorJuego {
    margin: 20px auto;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 20px;
    transition: all 0.3s ease;
}

#juego {
    width: 100%;
    height: 100%;
}

#modoTeatroBtn {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
    bottom: 0;
}

#modoTeatroBtn:hover {
    background-color: #0056b3;
}