/* COLORES CSS HEX */
:root{
--off-white: #f8ffff;
--pumice: #d2dad5;
--santas-gray: #a4a3a8;
--mountain-mist: #97969c;
--jumbo: #7e7d87;
--salt-box: #67616d;
--deep: #2e2b31;
--olive-green: #a6b54f;
--asparagus: #858e54;
--finch: #545841;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


main>section{
    margin: 3em 0;
}


main>section:first-of-type {
    padding: 3em 15%;
    text-align: center;
    margin: 0 auto;
}


main>section>p{
    color: var(--deep);
}


/* El slideshow viene de: [https://codepen.io/rokobuljan/pen/XXzqKQ](https://codepen.io/rokobuljan/pen/XXzqKQ) */
/* CAMBIO: width y height ahora son responsive */
.CSSgal {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 90em;
    aspect-ratio: 16/9;
    background-color: var(--deep);
    margin: 0 auto;
}


/* SLIDER */
.CSSgal .slider {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}


/* SLIDES */
.CSSgal .slider > * {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}


.CSSgal .slide-1{
    background-image: url(/img/img/spark.png);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.CSSgal .slide-1::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
}


.CSSgal .slide-1 > *{
    position: relative;
    z-index: 2;
}


.CSSgal .slide-1 h2,
.CSSgal .slide-1 p,
.CSSgal .slide-1 a{
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}


.CSSgal .slide-3{
    background-image: url(/img/img/chords.png);
    text-align: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.CSSgal .slide-3::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4); 
}


.CSSgal .slide-3 > *{
    position: relative;
    z-index: 2;
}


.CSSgal .slide-3 h2,
.CSSgal .slide-3 p,
.CSSgal .slide-3 a{
    text-shadow: 0 2px 6px rgba(0,0,0,0.7);
}


/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext {
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100%;
    height: 0;
}


.CSSgal .prevNext > div+div {
    visibility: hidden; /* Hide all but first P/N container */
}


.CSSgal .prevNext a {
    background: #fff;
    position: absolute;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
}

.CSSgal .prevNext a:hover {
    opacity: 1;
}

.CSSgal .prevNext a+a {
    left: auto;
    right: 0;
}


/* NAVIGATION */
.CSSgal .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.CSSgal .bullets > a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 50%;
    cursor: pointer;
}

.CSSgal .bullets > a+a {
    background: rgba(255, 255, 255, 0.5);
}

.CSSgal .bullets > a:hover {
    background: rgba(255, 255, 255, 0.7) !important;
}


/* NAVIGATION BUTTONS */
/* ALL: */
.CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}


/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}


/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}


/* ESTILOS PERSONALIZADOS */
.CSSgal{
    color: #fff;    
    text-align: center;
}

.CSSgal .slider h2 {
    margin-top: 20%;
    font-weight: 200;
    letter-spacing: -0.06em;
    word-spacing: 0.2em;
    font-size: clamp(1.5em, 5vw, 3em);
}

.CSSgal .slider p {
    font-size: clamp(0.9em, 3vw, 1.2em);
    padding: 0 2em;
}

.CSSgal a {
    border-radius: 50%;
    margin: 0 3px;
    color: var(--olive-green);
    text-decoration: none;
}