:root{
/* CSS HEX */
/* Esta vaina lo que hace es que pueda escribir luego el nombre del color sin tener que andar copiando y pegando
todo el rato el codigo hexadecimal */
--aths-special: #ede5cc;
--coral-reef: #c8c0a9;
--yellow-metal: #74613a;
--armadillo: #37362e;
--deco: #dadc89;
--celery: #bac851;
--dingley: #657348;
--ecru-white: #f2f1de;
--golden-grass: #dc932f;
}

main {
    background-color: beige;
    padding: 5%;
}

