/* main */
.logout-main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--aths-special);
}

/* card */
.logout-card {
    background-color: white;
    padding: 2.5rem 3rem;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

/* titulo */
.logout-card h1 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

/* avatar */
.perfil-avatar {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* nombre */
.perfil-nombre {
    font-weight: bold;
    margin-bottom: 1.5rem;
}

/* info */
.perfil-info {
    margin-bottom: 2rem;
    color: #555;
}

.perfil-info p {
    margin: 0.4rem 0;
}

/* boton */
.logout-card button {
    width: 100%;
    padding: 0.9rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background-color: var(--olive-green);
    text-shadow:
        0 0 2px #eaf0c9,
        0 0 12px #a6b54f;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.logout-card button:hover {
    box-shadow: 0 10px 20px rgba(223, 224, 170, 0.25);
    transform: scale(1.02);
}

/* RESPONSIVE
Para moviles */
@media (max-width: 480px) {

    .logout-main {
        padding: 1em;
    }

    .logout-card {
        padding: 2rem 1.5rem;
        max-width: 90%;
    }

    .logout-card h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .perfil-avatar {
        width: 90px;
        height: 90px;
        margin-bottom: 0.8rem;
    }

    .perfil-nombre {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    .perfil-info {
        margin-bottom: 1.5rem;
        font-size: 0.85rem;
    }

    .logout-card button {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

/* Para tablets */
@media (max-width: 768px) {

    .logout-main {
        padding: 2em;
    }

    .logout-card {
        padding: 2.3rem 2rem;
        max-width: 350px;
    }

    .logout-card h1 {
        font-size: 1.6rem;
    }

    .perfil-avatar {
        width: 100px;
        height: 100px;
    }

    .perfil-nombre {
        font-size: 1.1rem;
    }

    .perfil-info {
        font-size: 0.9rem;
    }

    .logout-card button {
        padding: 0.85rem;
        font-size: 0.95rem;
    }
}

/* Para pantallas grandes */
@media (min-width: 1200px) {

    .logout-main {
        padding: 3em;
    }

    .logout-card {
        padding: 2.5rem 3rem;
        max-width: 400px;
    }

    .logout-card h1 {
        font-size: 1.8rem;
    }

    .perfil-avatar {
        width: 110px;
        height: 110px;
    }

    .perfil-nombre {
        font-size: 1.2rem;
    }

    .perfil-info {
        font-size: 1rem;
    }

    .logout-card button {
        padding: 0.9rem;
        font-size: 1rem;
    }
}