body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

main {
    background-color: beige;
    padding: 5%;
    min-height: 32vh;
    /* TO DO: Medida temporal */
}

form {
    display: flex;
    width: 100%;
    height: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    min-width: 35%;
    min-height: 50%;
    margin: 5%;
    flex-wrap: wrap;
}

.form-enviar {

}